<nav class="bg-gray-800">
  <div class="px-6 md:px-0 mx-auto max-w-6xl">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-8 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
        </div>
        <div class="sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= header_link_to "Dashboard", root_path %>
            <%= header_link_to "Projects", projects_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
